body{
    text-align: center;
}
.btn{
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: black 10px solid;
    margin: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-container{
    display: flex;
    justify-content: center;
    margin-top: 0;
}
.yellow{
    background-color: #f99b45;
    color: #f99b45;
}
.yellow:hover{
    background-color:black;
    border: 20px white solid;
    color: white;
    font-size: 250%;
}
.red{
    background-color: #d95980;
    color: #d95980;
}
.red:hover{
    background-color:black;
    border: 20px white solid;
    color: white;
    font-size: 250%;
}
.purple{
    background-color: rgba(152, 28, 164, 0.7);
    color: rgba(152, 28, 164, 0.1);
}
.purple:hover{
    background-color:black;
    border: 20px white solid;
    color: white;
    font-size: 250%;
}
.green{
    background-color: #769bff;
    color:  #769bff;
}
.green:hover{
    background-color:black;
    border: 20px white solid;
    color: white;
    font-size: 250%;
}
.flash{
    background-color: white;
}
.userFlash{
    background-color: green;
}
h1{
    font-size: 300%;
    margin-bottom: 0;
    margin-top: 0;
    border-radius: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
}
